@font-face { 
    font-family: "RoadRadioThin";
    src: url("assets/fonts/RoadRadioBold.eot");
    src: url("assets/fonts/RoadRadioBold.eot?#iefix")format("embedded-opentype"),
    url("assets/fonts/RoadRadioBold.woff") format("woff"),
    url("assets/fonts/RoadRadioBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/RobotoMono-Bold.eot');
    src: url('assets/fonts/RobotoMono-Bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/RobotoMono-Bold.woff') format('woff'),
         url('assets/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-style: normal;
	font-weight: 100;
}
body {
    background-color: rgb(204,204,204);
}
.wrapper {}
.block {
    width: 21cm;
    height: 29.7cm; 
    background: white;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    width: 7cm;
    height: 9.9cm; 
    text-align: center;
}
.inner {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "RoadRadioThin";
	color: white;
	font-size: 14px;
	/* background: -webkit-linear-gradient(#ffedba, #c49641);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

.innerV {
    font-family: "Roboto";
	color: white;
	font-size: 13px;
}

.innerCode {
    font-family: "Roboto";
	color: white;
	font-size: 32px;
}
